@model int
@{ 
    this.ViewData["Title"] = "Delete recipe";
}

<div class="center">
<h3>Are you sure you want to delete the recipe?</h3>
</div>
<img src="http://res.cloudinary.com/djugrzvgb/image/upload/v1587585384/ainhgggao15nvztm5ssh.jpg" class="center" alt="delete" />
<br/>
<div>
    <a asp-controller="Recipes" asp-action="Details" asp-route-id="@Model" class="btn btn-secondary float-left">Back</a>
    <a asp-controller="Recipes" asp-action="Delete" asp-route-id="@Model" class="btn btn-danger float-right">Delete</a>
</div>