@model int

@{
    this.ViewData["Title"] = "Recipe not found";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error:</h4>
    <hr />
    <h5>Recipe with id @Model cannot be found</h5>
</div>
<br />
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">
    Home
</a>
<a asp-controller="Salads" asp-action="Subcategories" class="btn btn-primary">
    Salads
</a>
<a asp-controller="Soups" asp-action="Subcategories" class="btn btn-primary">
    Soups
</a>
<a asp-controller="Desserts" asp-action="Subcategories" class="btn btn-primary">
    Desserts
</a>
<a asp-controller="Maincourses" asp-action="Subcategories" class="btn btn-primary">
    Main Courses
</a>