@model int

@{
    this.ViewData["Title"] = "Recipe not found";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error:</h4>
    <hr />
    <h5>Recipe with id @Model cannot be found</h5>
</div>
<br />
<a href="/Salads/All" class="btn btn-primary">
    View all salads
</a>