@using CookingPot.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@if (this.TempData["InfoMessage"] != null)
{
    <div id="tempData" class="alert alert-success">
        @this.TempData["InfoMessage"]
    </div>
}

<head>
    <environment names="Development">
        <link href="~/css/indexHomePage.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/indexHomePage.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<div class="home-page">
    <h1 class="heading-homepage"><span class="heading-caption">"In France,</span> cooking is a serious art form and a national sport."</h1>
    <p class="float-right heading-author">Julia Child</p>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#tempData').hide();
            }, 4000);
        });
    </script>
}
