@model IEnumerable<CookingPot.Web.ViewModels.Salads.DisplaySaladSubcategoryViewModel>

<div class="row">
    @foreach (var recipe in Model)
    {
    <div class="card" style="width: 18rem;margin: 10px">
        <img class="card-img-top" height="200" width="100" src="@recipe.ImageUrl" alt="@recipe.Name">
        <div class="card-body">
            <h5 class="card-title">@recipe.Name</h5>
            <p class="card-text">@recipe.ShortDescription</p>
            <a href="/Recipes/Details?id=@recipe.Id" class="btn btn-success">View recipe</a>
        </div>
    </div>
    }
</div>
