@model CookingPot.Web.ViewModels.Salads.SaladsSubcategoryViewModel

@{
    this.ViewData["Title"] = "Salads menu";
}

<div class="card" style="width: 18rem;margin: 10px">
    <img class="card-img-top" src="@Model.ImageUrl" alt="@Model.Name">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <a asp-controller="Salads" asp-action="All" class="btn btn-primary">Show all salads</a>
    </div>
</div>


